
<h2>Artist: <%=@artist.name%></h1> 
<h2>Song: <%=@song.name%></h2>
<h4>Rating: <%=@song.rating%></h4>


<hr />
<button> <%= link_to 'Edit Song', edit_artist_song_path(@artist, @song) %> </button>
<button> <%= link_to 'Delete Song', [@artist, @song], method: :delete %> </button>
<button> <%= link_to 'Back', artist_path(@artist) %> </button>