<h1> <%= @board.id ? "Edit #{@board.name}" : "Create New Board" %> </h1>
<hr />

<%= form_for @board do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name, required: true, autofocus: true %>
  <br />
  <%= f.submit %>

<% end %>