<h1> Board: <%= @board.name %> </h1>
<%= link_to 'Add a song to the board!', board_songs_addtoboard_path(@board.id) %>
<hr />
<h3> Songs </h3>
  <ul>
  <% @board.songs.each do |song| %>
  <li>
   <%= song.name %>
  </li>
  <% end %>
  </ul>
<hr />
<button> <%= link_to 'Edit Board Name', edit_board_path(@board) %> </button>
<button> <%= link_to 'Delete Board', @board, method: :delete %> </button>
<button> <%= link_to 'Back', boards_path %> </button>